<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067746733059-8fek924kbnpms8c23amu039qbj8bk756.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067746733059-8fek924kbnpms8c23amu039qbj8bk756</string>
	<key>API_KEY</key>
	<string>AIzaSyC1_vuYjRv2eV1AWnVmYF_C709mLb4cIqg</string>
	<key>GCM_SENDER_ID</key>
	<string>1067746733059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.manager.money.moneyManager</string>
	<key>PROJECT_ID</key>
	<string>moneymanager-1224</string>
	<key>STORAGE_BUCKET</key>
	<string>moneymanager-1224.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067746733059:ios:b30f715f9d836a64dff236</string>
</dict>
</plist>